body {
  background-color: #fbd596;
  margin: auto;
}

.fontStandard {
  font-family: "Lemonada";
  font-optical-sizing: auto;
}

html {
  font-family: "Lemonada";
  font-optical-sizing: auto;
}

@media (min-width: 320px) and (max-width: 435px) {
  a {
    text-decoration: none;
    color: black;
  }

  .homeHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    font-size: 24px;
    font-weight: bold;
    max-width: 1280px;
    margin-inline: auto;
    visibility: hidden;
  }

  .homeHeaderInsideContainerLeft {
    display: flex;
    flex: column;
    align-items: center;
    width: 260px;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }

  .homeHeaderInsideContainerCenter {
    display: flex;
    flex: column;
    width: 655px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .homeHeaderInsideContainerRight {
    display: flex;
    flex: column;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .buttSign {
    border: solid black;
    margin: auto;
    padding: 0.5px;
    border-radius: 10px;
    background-color: #ba7979;
  }

  .homeHeaderItem {
    justify-self: center;
    align-self: center;
  }

  .logo {
    height: 75px;
    width: 75px;
  }

  .homeHeaderContainer > h1 {
    font-family: "Lemonada";
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
  }

  .AboutUs {
    min-width: 130px;
  }

  .SignIn {
    min-width: 110px;
  }

  .titleDes {
    /* max-width: 1280px; */
    /* margin-inline: auto; */

    margin-top: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
    max-width: 1280px;
    margin-inline: auto;
  }

  .imgContainer img {
    height: 600px;
    border-radius: 10px;
  }

  .imgContainer p {
    font-size: 30px;
    text-indent: 50px;
    line-height: 65px;
    text-align: justify;
    text-justify: inter-word;
  }

  .futa {
    position: relative;
    /* top: 900px; */
    /* margin-left: 400px; */
    display: flex;
    justify-content: space-around;

    max-width: 1280px;
    margin-inline: auto;
  }

  footer {
    background-color: #ffe3b6;
    /* background-size: 1000px; */
    top: 100px;
    position: relative;
  }

  .footerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  .footLoogo {
    width: 66px;
  }

  .footSocials {
    width: 40px;
  }

  .footerFlexImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* 1280px mają monitory zazwyczaj, powyżej już dać większy margin */
@media (min-width: 436px) {
  a {
    text-decoration: none;
    color: black;
  }

  .homeHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    font-size: 24px;
    font-weight: bold;
    max-width: 1280px;
    margin-inline: auto;
  }

  .homeHeaderInsideContainerLeft {
    display: flex;
    flex: column;
    align-items: center;
    width: 260px;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }

  .homeHeaderInsideContainerCenter {
    display: flex;
    flex: column;
    width: 655px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .homeHeaderInsideContainerRight {
    display: flex;
    flex: column;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .buttSign {
    border: solid black;
    margin: auto;
    padding: 0.5px;
    border-radius: 10px;
    background-color: #ba7979;
  }

  .homeHeaderItem {
    justify-self: center;
    align-self: center;
  }

  .logo {
    height: 75px;
    width: 75px;
  }

  .homeHeaderContainer > h1 {
    font-family: "Lemonada";
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
  }

  .AboutUs {
    min-width: 130px;
  }

  .SignIn {
    min-width: 110px;
  }

  .titleDes {
    /* max-width: 1280px; */
    /* margin-inline: auto; */

    margin-top: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
    max-width: 1280px;
    margin-inline: auto;
  }

  .imgContainer img {
    height: 600px;
    border-radius: 10px;
  }

  .imgContainer p {
    font-size: 30px;
    text-indent: 50px;
    line-height: 65px;
    text-align: justify;
    text-justify: inter-word;
  }

  .futa {
    position: relative;
    /* top: 900px; */
    /* margin-left: 400px; */
    display: flex;
    justify-content: space-around;

    max-width: 1280px;
    margin-inline: auto;
  }

  footer {
    background-color: #ffe3b6;
    /* background-size: 1000px; */
    top: 100px;
    position: relative;
  }

  /* .back2{
        position: relative;
        top: 900px;
        
    } */

  .footerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  .footLoogo {
    width: 66px;
  }

  .footSocials {
    width: 40px;
  }

  .footerFlexImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
