html {
  font-family: "Lemonada";
  font-optical-sizing: auto;

  /* max-width: 1280px;
    margin-inline: auto; */
}

body {
  background-color: #fbd596;
  margin: auto;
}

.fontStandard {
  font-family: "Lemonada";
  font-optical-sizing: auto;
}

@media (min-width: 436px) {
  a {
    text-decoration: none;
    color: black;
  }

  .homeHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    font-size: 24px;
    font-weight: bold;
    background-color: #fbd596;

    max-width: 1280px;
    margin-inline: auto;
  }

  .homeHeaderInsideContainerLeft {
    display: flex;
    flex: column;
    align-items: center;
    width: 260px;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }

  .homeHeaderInsideContainerCenter {
    display: flex;
    flex: column;
    width: 655px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .homeHeaderInsideContainerRight {
    display: flex;
    flex: column;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .buttSign {
    border: solid black;
    margin: auto;
    padding: 0.5px;
    border-radius: 10px;
    background-color: #ba7979;
  }

  .homeHeaderItem {
    justify-self: center;
    align-self: center;
  }

  .logo {
    height: 75px;
    width: 75px;
  }

  .homeHeaderContainer > h1 {
    font-family: "Lemonada";
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
  }

  .AboutUs {
    min-width: 130px;
  }

  .SignIn {
    min-width: 110px;
  }

  .mainback {
    background-color: #ffe3b6;
    margin: auto;
  }

  .mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin-top: 50px; */
    /* margin: 50px 10px auto 10px; */

    max-width: 1280px;
    margin-inline: auto;
  }

  .searchContainer {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    gap: 40px;
    min-width: 250px;
    max-height: 1500px;
    border-radius: 10px;
  }

  .searchPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sliderPrice {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    background: #ba7979;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
    width: 100%;
    height: 20px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #30a97d;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #30a97d;
    cursor: pointer;
  }

  .searchInstrument {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .imgCheck {
    width: 30px;
    height: 30px;
  }

  .checkIns {
    display: flex;
    width: 100%;
    gap: 20px;
    /* align-items: center;s */
    /* justify-content:center; */
    padding-left: calc(50% - 60px);
  }

  .checkCont {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    /* justify-content:center; */
    /* max-width: fit-content; */
    /* margin-inline: 100px; */
  }

  .updateButt {
    width: 150px;
    color: black;
    background-color: #ba7979;
    height: 35px;
    /* margin-inline: auto; */
    align-self: center;
    margin-left: 50px;
  }

  .productsContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    /* align-items: center; */
  }

  .priceAvCont {
    display: flex;
    width: 100%;
    /* gap: 10px; */
    align-items: center;
    justify-content: space-evenly;
  }

  .imgPress {
    height: 300px;
    border-radius: 30px;
  }

  .imgAva {
    height: 30px;
  }

  .mouthProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonsShop {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .buyButton {
    border: 2px solid black;
    padding: 3px;
  }

  .befooter {
    position: relative;
    background-color: #ffe3b6;
    margin: auto;
    height: 100px;
  }

  .futa {
    position: relative;
    top: 100px;
    /* margin-left: 400px; */
    display: flex;
    justify-content: space-around;

    max-width: 1280px;
    margin-inline: auto;
  }

  footer {
    /* background-color: #FFE3B6; */
    /* background-size: 1000px; */
    /* top: 100px; */
    position: relative;
  }

  /* .back2{
    position: relative;
    top: 900px;
    
} */

  .footerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  .footLoogo {
    width: 66px;
  }

  .footSocials {
    width: 40px;
  }

  .footerFlexImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
